<!DOCTYPE html>
<html>
<head>
  <title>Cookbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div class="container">

  <h1>
    <%= session[:user_id]%>
  </h1>

  <nav>
    <ul class="nav nav-tabs">
        <li><%= link_to 'log out', logout_path, :method => :delete %></li>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Recipes', recipes_path %></li>
        <li><%= link_to 'Ingredients', ingredients_path %></li>
          <% if logged_in?%>
            <li><%= link_to 'Logout', logout_path, :method => :delete %> </li>
          <% end %>
    </ul>
  </nav>

<!-- any :notice => 'new book successfully created' message will be displated through the flash -->
  <% flash.each do |key, value| %>
  <div class="alert alert-info" role = "alert"><%= value %></div>
  <% end %>

  <%= yield %>

</div>
</body>
</html>
