<%= form_for @book do |f| %>
<p>
<%= f.label :title %>
<%= f.text_field :title %>
</p>
<p>
<%= f.label :cuisine %>
<%= f.text_field :cuisine %>
</p>
<p>
<%= f.label :image_url %>
<%= f.text_field :image_url %>
</p>
<button>New</button>
<% end %>