<%= form_for @mountain do |f|%>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :image_url %>
  <%= f.text_area :image_url %>
</p>

<p>
  <%= f.label :height %>
  <%= f.text_field :height %>
</p>
<button>Post</button>
<%end%>

<%= link_to 'Home', "/mountains"%>
