<h1>Home</h1>

<div class="row">
  <div class="col-sm-4 col-xs-12">
    <p><%= link_to 'books', '/books' %></p>
    <p><%= link_to 'new book', '/books/new', class: 'btn btn-primary' %></p>
  </div>
  <div class="col-sm-4 col-xs-12">
    <p><%= link_to 'recipes', '/recipes' %></p>
    <p><%= link_to 'new recipe', '/recipes/new', class: 'btn btn-primary' %></p>
    </div>
    <div class="col-sm-4 col-xs-12">
    <p><%= link_to 'ingredients', '/ingredients' %></p>
    <p><%= link_to 'new ingredient', '/ingredients/new', class: 'btn btn-primary' %></p>
    </div>
</div>