<%= form_for @recipe do |f| %>
  <p>
    <%= f.label :book_id %>
    <%= f.collection_select :book_id, @books, :id, :title %>
  </p>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :course %>
    <%= f.select :course, Recipe.courses %>
  </p>
  <p>
    <%= f.label :cooktime %>
    <%= f.text_field :cooktime %>
  </p>
  <p>
    <%= f.label :servingsize %>
    <%= f.text_field :servingsize %>
  </p>
  <p>
    <%= f.label :instructions %>
    <%= f.text_area :instructions %>
  </p>
  <p>
    <%= f.label :image_url %>
    <%= f.text_field :image_url %>
  </p>
  <p>
    <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %>
  </p>
  <button>submit</button>
<% end %>
