

<div class="show_container">
	<h1 class="show_title"><%= @video.name %></h1>

	<div class="show_iframe">
		<% edited_url = @video.video_url.gsub("watch?v=", "embed/") %>
	
			<div class="show_screen">
			<iframe width="740" height="373" src= <%= edited_url %> frameborder="0" allowfullscreen></iframe>
			</div>

		<p><%= @video.description %></p>
		<p><%= @video.genre %></p>

	</div>

</div>




	<form action="/videos/<%= @video.id %>/edit" method="post">
		<button class="btn"> Edit Video </button>
	</form>
	
	<form action="/videos/<%= @video.id %>/delete" method="post">
		<button class="btn"> Delete Video </button>
	</form>
