<!DOCTYPE html>
<html>
<head>
  <title>Cookbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Gentium+Basic|Vollkorn:400italic' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">

  <nav>
  <ul class="nav nav-tabs">
    <li><%= link_to 'Books Index', books_path %></li>
    <li><%= link_to 'Recipes Index', recipes_path %></li>
    <li><%= link_to 'Ingredients Index', ingredients_path %></li>

  </ul>
  <nav>

<%= yield %>
</div>
</body>
</html>
