<!-- <form action="/products" method="post"> -->
<%= form_for @product do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :price %>
    <!-- <input type="text" name="product[price]"> -->
     <%= f.text_field :price %>
  </p>
  <p>
    <label for="">Category</label>
    <!-- <input type="text" name="product[category]"> -->
     <%= f.collection_select :category_id, @categories, :id, :name %>
  </p>

<button>Submit</button>

<% end %>