<h2>edit</h2>

<form action="/movies/<%= @row['id'] %>" method="post">
  <label for="">Title</label>
  <input type="text" name="title" value="<%= @row["title"] %>"><br/>
  <label for="">MEME URL</label>
  <input type="text" name="url" value="<%= @row["url"] %>">
  <label for="">Description</label>
  <input type="text" name="description" value="<%= @row["description"] %>">
  <label for="">Genre</label>
  <input type="text" name="genre" value="<%= @row["genre"] %>">
  <br/>

<button>Update</button>
</form>