<h1>Sign Up</h1>

<% if !@user.errors.any? %>  <!-- checks if there are any errors against validations -->
  <% @user.errors.full_messages.each do |msg| %>
    <p class="error"><%= msg %></p>
  <% end %>
<% end %>

<%= form_tag '/sign_up' do |f| %>
  <p>
    <%= label_tag :username  %>
    <%= text_field_tag :username %>
  </p>
  <p>
    <%=label_tag :password %>
    <%= password_field_tag :password  %>
  </p>
  <p>
    <%= label_tag :password_confirmation %>
    <%= password_field_tag :password_confirmation %>
  </p>
  <button>Sign Up</button>

<% end %>