<div class='add'>

<h1>edit</h1>

<form action="/memes/<%= @result['id'] %>" method="post">
  <label for="">Title</label>
  <input type="text" name="title" value="<%= @result['title'] %>"><br/>
  <label for="">Description</label>
  <input type="text" name="description" value="<%= @result['description'] %>"><br/>
  <label for="">Video url</label>
  <input type="text" name="video_url" value="<%= @result['video_url'] %>"><br/>
  <label for="">Genre</label>
  <input type="text" name="genre" value="<%= @result['genre'] %>"><br/>

  <button>Update</button>
</form>

</div>