<h1>Details</h1>

<% @rows.each do |row| %>
  <p><%= row['title'] %></p>
  <p><%= row['description'] %></p>

  <iframe width="400" height="400" src="http://www.youtube.com/embed/<%= row['url'].split("=")[1] %>" ></iframe>

  <form action="/videos/<%= row['id']%>/delete" method="post">
  <button>Delete</button>
  </form>

  <a href="/videos/<%= row['id'] %>/edit">Edit</a>

<% end %>

