
<div id="poster">
      <img src="<%= @poster %>" alt="">
  </div>

  <div id="output">
    <p><%= @title %></p>
    <p><%= @year %></p>
    <p><%= @director %></p>
    <p id="plot"><%= @plot %></p>
    </div>




