<!DOCTYPE html>
<html>
<head>
  <title>GarageSale</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul>
  <li> <%= link_to 'Home', root_path %></li>
  <li> <%= link_to 'Products', products_path %></li>
  <% if logged_in? %>
  <li> <%= link_to 'Logout',login_path, :method => :delete, :data => { :confirm =>'are you sure?'} %></li>
  <% else %>
   <li> <%= link_to 'LogIn',login_path %></li>
   <% end %>
</ul>

<%= yield %>

</body>
</html>
