<div class="container center">
  <h1 class="center"><%= @hash_two["Title"] %></h1>
  
  <div class="poster horizontal">
    <img src="<%= @hash_two['Poster'] %>" alt="poster"> 
  </div> 



  <div class="movie_details horizontal">
    <p>Year: <%= @hash_two['Year'] %></p>
    <p>Rated: <%= @hash_two['Rated'] %></p>
    <p>Released: <%= @hash_two['Released'] %></p>
    <p>Runtime: <%= @hash_two['Runtime'] %></p>
    <p>Genre: <%= @hash_two['Genre'] %></p>
    <p>Director: <%= @hash_two['Director'] %></p>
    <p>Writer: <%= @hash_two['Writer'] %></p>
    <p>Actors: <%= @hash_two['Actors'] %></p>
    <p>Plot: <%= @hash_two['Plot'] %></p>
    <p>Language: <%= @hash_two['Language'] %></p>
    <p>Country: <%= @hash_two['Country'] %></p>
  </div>
  
</div>

