<h1>Add a New Book</h1>

<%= form_for @book do |f| %>

<div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, :class => 'form-control', :placeholder => 'your title' %>
</div>
<p>
  <%= f.label :cuisine %>
  <%= f.text_field :cuisine %>
</p>
<p>
  <%= f.label :chef %>
  <%= f.text_field :chef %>
</p>
<p>
  <%= f.label :image_url, 'image url' %>
  <%= f.text_field :image_url %>
</p>

<button class="btn btn-primary">Add book</button>

<% end %>