<div class="show_container">
  <h2 class="center">Show Video Details</h2>

  <% @rows.each do |row| %>
    <p><%= row['title'] %></p>
    
          <iframe width="450" height="315" src="<%= row['video_url'] %>" frameborder="0" allowfullscreen></iframe>

    <p><%= row['description'] %></p>
    <p><%= row['genre'] %></p>
    
    <div class="col-sm-3 row">
      <a href="/videos/<%= row['id'] %>/edit"><button class="btn btn-primary">Edit</button></a>
    
      <form action="/video/<%= row['id'] %>/delete" method="post">
        <button class="btn btn-danger">Delete</button>
      </form>

  <% end %>
  
      <a href="/"><button class="btn btn-default">Home</button></a>
    </div>
</div>
