<div class="margintop"></div>
  <div class="row">
    <div class="main-wrapper">

        <% @posts.each do |post| %>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="<%= post.image_url %>" alt="...">
              <div class="caption">
                <h3><%= post.title %></h3>
                <p><%= post.content %></p>
                <p><%= post.created_at %></p>
                <p><a href="/posts/<%= post.id %>" class="btn btn-default" role="button">More</a></p>
              </div>
            </div>
          </div>
      <% end %>

    </div>
  </div>
</div>