<h1>home</h1>

<div class="row">

  <p>
    <%= link_to 'Add a New book', new_book_path, class: 'btn btn-primary'%>
  </p>

  <p>
    <%= link_to 'View Current books', books_path, class: 'btn btn-primary' %>
  </p>

  <p>
    <%= link_to 'Add a New recipe', new_recipe_path %>
  </p>

  <p>
    <%= link_to 'View Current recipes', recipes_path %>
  </p>

  <p>
    <%= link_to 'View Current ingredients', ingredients_path %>
  </p>

</div>