<%= form_for @recipe do |f| %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :meal_type %>
    <%= f.text_field :meal_type %>
  </p>
  <p>
    <%= f.label :cooktime %>
    <%= f.number_field :cooktime %>
  </p>
  <p>
    <%= f.label :servingsize %>
    <%= f.number_field :servingsize %>
  </p>
  <p>
    <%= f.label :instructions %>
    <%= f.text_field :instructions %>
  </p>
  <p>
    <%= f.label :image_url %>
    <%= f.text_field :image_url %>
  </p>
  <p>
    <%= binding.pry %>
   <%= f.collection_select :book_id, @books, :id, :title  %>
  </p>
  <button>Create</button>

<% end %>